{{ define "main" }}
<article class="post">
    <header class="post__header">
        <h1 class="post__title">{{ .Params.headline }}</h1>
        {{ if .Description }}
        <p class="post__subtitle">{{ .Params.subtitle }}</p>
        {{ end }}
    </header>

    <main class="post__body">
        {{ .Content }}
    </main>
</article>
{{ end }}
