{{ define "main" }}
<article class="post">
    <header class="post__header">
        <h1 class="post__title">{{ .Params.headline }}</h1>
        {{ if .Params.subtitle }}
        <p class="post__subtitle">{{ .Params.subtitle }}</p>
        {{ end }}
        {{ if ne .Type "page" }}
        {{ if and $.Site.Params.posts.showDate $.Site.Params.posts.showAuthor }}
        <p class="post__date date">
              {{ if eq .Site.Params.LanguageName "de" }}
              {{ .Date.Day }}. {{ index $.Site.Data.monate (printf "%d" .Date.Month) }} {{ .Date.Year }}
              von {{ $.Params.author }}
              {{ else }}
              {{ dateFormat $.Site.Params.posts.dateFormat .Date }} by {{ $.Params.author }}
              {{ end }}
        </p>
        {{ else if $.Site.Params.posts.showDate }}
        <p class="post__date date">{{ dateFormat $.Site.Params.posts.dateFormat .Date }}</p>
        {{ else if $.Site.Params.posts.showAuthor }}
        <p class="post__author author">By {{ $.Params.author }}.</p>
        {{ end }}
        {{ end }}
    </header>

    {{ if ne .Type "page" }}
    <main class="post__body">
        {{ .Content }}
    </main>
    {{ else }}
    <main class="post__body" style="margin-bottom: 3rem;">
        {{ if .Params.toc }}
        {{ partial "toc.html" . }}
        {{ end }}
        {{ .Content }}
    </main>
    {{ end }}

    {{ if ne .Type "page" }}
    <footer class="post__footer">
        {{ .Render "tags" }}
    </footer>
    {{ end }}
</article>
{{ end }}
