<article class="card">
    <header class="card__header">
        <h2 class="card__header__title">
            <a href="{{ .Permalink }}" class="card__header__link" alt="{{ .Params.headline }}.">
                {{ .Params.headline }}
            </a>
        </h2>
        {{ if ne .Type "page" }}
        {{ if and $.Site.Params.posts.showDate $.Site.Params.posts.showAuthor }}
        <p class="card__header__date date">
        {{ if eq .Site.Params.LanguageName "de" }}
            {{ .Date.Day }}. {{ index $.Site.Data.monate (printf "%d" .Date.Month) }} {{ .Date.Year }}
            von {{ $.Params.author }}
            {{ else }}
            {{ dateFormat $.Site.Params.posts.dateFormat .Date }} by {{ $.Params.author }}
            {{ end }}
        </p>
        {{ else if $.Site.Params.posts.showDate }}
        <p class="card__header__date date">{{ dateFormat $.Site.Params.posts.dateFormat .Date }}</p>
        {{ else if $.Site.Params.posts.showAuthor }}
        <p class="card__header__author author">by {{ $.Params.author }}.</p>
        {{ end }}
        {{ end }}
    </header>

    <main class="card__body">
        {{ .Content | truncate 280 }}
    </main>

    <footer class="card__footer">
      {{ partial "read-more-btn.html" . }}
      {{ .Render "tags" }}
    </footer>
</article>
