{{ define "main" }}
<main class="content">
	<h1>{{ $.Params.Title }}</h1>
	{{ if .Params.subtitle }}
	<p class="post__subtitle">{{ .Params.subtitle }}</p>
	{{ end }}
	{{ $paginator := .Paginate (where .Data.Pages.ByDate.Reverse "Type" "blog") }}

	{{ range $paginator.Pages }}
	{{ .Render "card" }}
	{{ end }}

	{{ template "_internal/pagination.html" . }}
</main>
{{ end }}
