{{ define "main" }}
<section class="">
  <div class="container max-width-lg">
    <header class="post__header">
        <h1 class="post__title">{{ .Params.headline }}</h1>
        {{ if .Params.subtitle }}
        <p class="post__subtitle">{{ .Params.subtitle }}</p>
        {{ end }}
        {{ if ne .Type "page" }}
        {{ if and $.Site.Params.posts.showDate $.Site.Params.posts.showAuthor }}
        <p class="post__date date">
              {{ if eq .Site.Params.LanguageName "de" }}
              {{ .Date.Day }}. {{ index $.Site.Data.monate (printf "%d" .Date.Month) }} {{ .Date.Year }}
              von {{ $.Params.author }}
              {{ else }}
              {{ dateFormat $.Site.Params.posts.dateFormat .Date }} by {{ $.Params.author }}
              {{ end }}
        </p>
        {{ else if $.Site.Params.posts.showDate }}
        <p class="post__date date">{{ dateFormat $.Site.Params.posts.dateFormat .Date }}</p>
        {{ else if $.Site.Params.posts.showAuthor }}
        <p class="post__author author">By {{ $.Params.author }}.</p>
        {{ end }}
        {{ end }}
    </header>
    <div class="grid gap-md@md items-start@md">
    <aside class="sidebar sidebar--static@md col-3@md js-sidebar" data-static-class="sidebar--sticky-on-desktop z-index-1 bg-contrast-lower" id="sidebar" aria-labelledby="sidebar-title">
      <div class="sidebar__panel">
        <header class="sidebar__header z-index-2">
          <h1 class="text-md text-truncate" id="sidebar-title">Questions?</h1>

          <button class="reset sidebar__close-btn js-sidebar__close-btn js-tab-focus">
            <svg class="icon icon--xs" viewBox="0 0 16 16"><title>Close panel</title><g stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"><line x1="13.5" y1="2.5" x2="2.5" y2="13.5"></line><line x1="2.5" y1="2.5" x2="13.5" y2="13.5"></line></g></svg>
          </button>
        </header>

        <div class="position-relative z-index-1">

          <div class="text-component padding-md">
            <h3>{{ i18n "sidebar-title" }}</h3>
            <p>{{ i18n "sidebar-message" }} <a href="mailto:sales@lacewing.tech">sales@lacewing.tech</a> {{ i18n "sidebar-or" }} <a href="/contact/">{{ i18n "sidebar-call" }}</a></p>
          </div>

        </div>
      </div>
    </aside>
    {{ if ne .Type "page" }}
    <main class="post__body position-relative z-index-1 col-9@md">
        {{ .Content }}
    </main>
    {{ else }}
    <main class="post__body position-relative z-index-1 col-9@md" style="margin-bottom: 3rem;">
        {{ if .Params.toc }}
        {{ partial "toc.html" . }}
        {{ end }}
        {{ .Content }}
    </main>
    {{ end }}

    {{ if ne .Type "page" }}
    <footer class="post__footer">
        {{ .Render "tags" }}
    </footer>
    {{ end }}
</div>
</section>
{{ end }}
