:root {
    /* Font Sizes */
    --title: 3.998rem;
    --subtitle: 2.827rem;
    --header: 2.8rem;
    --subheader: 1.414rem;

    /* Breakpoints */
    --sm: 576px;
    --md: 768px;
    --lg: 992px;
    --xl: 1200px;
}

/* Fonts */
@font-face {
  font-family: 'FiraSans-Bold';
  src:  url('/fonts/FiraSans-Bold.woff2') format('woff2'),
        url('/fonts/FiraSans-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'FiraSans-Regular';
  src:  url('/fonts/FiraSans-Regular.woff2') format('woff2'),
        url('/fonts/FiraSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: 'FiraSans-Light';
  src:  url('/fonts/FiraSans-Light.woff2') format('woff2'),
        url('/fonts/FiraSans-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Vin-Sans-Pro-Light';
  src:  url('/fonts/vinsanspro-light-webfont.woff2') format('woff2'),
        url('/fonts/vinsanspro-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

a {

}

a:hover {

}

body {

}

figcaption {
    font-size: 0.9rem;
    text-align: center;
}

hr {

    opacity: 0.30;
    width: 25%;
}

i {
    font-size: var(--subheader);
}





pre {
    overflow: auto;
    margin-bottom: 1.75rem;
    padding: 1rem 1.75rem;
    text-align: left;
    width: 100%;
}

textarea {
    resize: none;
}
