h1 {
  font-size: var(--header);
}

h3 {
  font-weight: bold;
}

/* Header Layout */
.header {
  grid-template-columns: auto 1fr auto;
}

/* Footer Menu*/
.footer {
  grid-template-areas: "newsletter newsletter newsletter" "social social social" "copy footer-menu footer-menu";
}

.footer-menu {
  grid-area: footer-menu;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.footer-menu__items {
  display: flex;
  justify-content: center;
}

.footer-menu__items__item {
  margin: 0 1rem;
}

.footer-menu__items__item__link  {

}

.footer-menu__items__item__link:hover  {

}

.footer .copy {
  justify-content: flex-start;

}

.hero {
  justify-content: space-around;
  height: initial;
}

.hero__caption {
  justify-content: flex-start;
  margin-top: 4.5rem;
}

@media (min-width: 768px) {
  .hero__caption {
    max-width: 68%;
  }
}

.hero__caption ul {
  padding-left: 1rem;
}

.hero__caption ul li, .post__body ul li {
  background-image: url('/images/logo-lwt-rot_small.jpg');
  background-repeat: no-repeat;
  background-position-y: 0.3em;
  padding-left: 2em;
}
@media (min-width: 1500px) {
  .hero__caption ul li, .post__body ul li {
    background-position-y: 0.7em;
  }
}

.hero__caption h1 {
  line-height: normal;
}

.post__body > ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 1rem;
}

.post__body img {
  margin: 1rem 0 0.5rem 0;
}

.post__body a.ripple-btn {
  display: inline-block;
}

.emphasized {
  font-size: 1.5em;
}

.deemphasized {
  font-size: 0.7em;
}

figcaption h4 {
  font-family: FiraSans-Light;
  margin: 0;
  text-align: left;
}

.hero__contactForm {
  margin: 1rem;
  width: 31rem;
  background: var(--color-contrast-low);
  padding: 1.45rem;
  box-shadow: -1px 3px 9px -2px rgba(0,0,0,0.58);
  height: max-content;

}

.contact__form {
  grid-template-areas: "name" "email" "company" "position" "needs" "msg" "privacy" "submit";
}

.contact__field--company {
  grid-area: company;
}

.contact__field--position {
  grid-area: position;
}

.contact__field--msg {
  margin-top: initial;
}

.contact__field--needs {
  grid-area: needs;
  flex-direction: row;
  flex-wrap: wrap;
}

.contact__form__needs-cta {
  width: 100%;
}

.contact__form__checkbox-wrapper {
  margin-right: 1rem;
}
.contact__form__checkbox-wrapper input[type="checkbox"] {
  width: 1rem;
  height: 1rem;
}

.contact__field > input {
  width: 100%;
}
.contact__field > textarea {
  height: 5rem;
}

.contact__field contact__field--privacy {
  grid-area: privacy;
}

.contact__field--name {
  margin-right: 0;
}

@media (max-width: 576px) {
  .hero__contactForm {
    margin: 2rem 0.5rem 0;
    width: 100%;
  }
  .header__title {
    margin: 1rem 1.75rem;
  }
  .footer-menu__items {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .footer-menu__items__item {
    margin: 0.5rem 1rem;
  }
}

@media (max-width: 768px) {
  .hero {
    height: initial;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .footer {
    grid-template-areas: "social social social" "footer-menu footer-menu footer-menu" "copy copy copy";
  }
  .footer .copy {
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0;
  }
}
/* adjust link menu color */
.menu__items__item__link::before {

}


/* Logo */
.header__title__logo {
  width: 10rem;
  max-width: 10rem;
}

/* Language switcher dropdown */
nav.LangSwitch {
  padding: 0 1rem;
  display: grid;
  place-items: center;
}
nav.LangSwitch ul {
    margin: 0;
    padding: 0;
    display: grid;
}
nav.LangSwitch ul li {
      padding: 0;
}
.dropdown {
  position: relative;
}
.dropdown:hover .dropdown__menu, .dropdown:focus-within .dropdown__menu {
  opacity: 1;
  transform: rotateX(0);
}

.dropdown .dropdown__menu {

    box-shadow: 0 0.15em 0.25em rgba(0,0,0, 0.25);
    opacity: 0.3;
    padding: 0.5em 0;
    position: absolute;
    transform: rotateX(-90deg);
    transform-origin: top center;
    transition: 280ms all 120ms ease-out;
    min-width: 100%;
}
.dropdown a {
      display: block;
      padding: 0 0.5em;
}
.dropdown__title {
  padding: 0 0.5em;
  display: inline-flex;
  align-items: center;
  pointer-events: none;
  box-shadow: 0 0.15em 0.25em rgba(0,0,0, 0.25);
}
.dropdown__title:after {
  content: "";
  border: 0.35rem solid transparent;
  border-top-color: rgba(0,0,0, 0.5);
  margin-left: 0.25em;
  transform: translateY(0.15em);
}

.newsletter-signup {
  padding: 1rem 20%;

  grid-area: newsletter;
  text-align: center;
}

.newsletter-signup h2 {

}

.newsletter-signup form div div div:first-child {
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Buttons */
.newsletter-signup button {

	border: none;
	color: var(--white);
	overflow: hidden;
	padding: 1.15rem 4.5rem!important;
	position: relative;
	transform: translate3d(0, 0, 0);
	transition: all 0.25s;
  border-radius: 0!important;
}

.newsletter-signup button:hover,
.newsletter-signup button:focus {

}

.newsletter-signup button::after {
	background-image: radial-gradient(
		circle,
		var(--primary-light) 10%,
		transparent 10.01%
	)!important;
	background-position: 50%;
	background-repeat: no-repeat;
	content: "";
	display: block;
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	pointer-events: none;
	top: 0;
	transform: scale(10, 10);
	transition: transform 0.5s, opacity 1s;
	width: 100%;
}

.newsletter-signup button:active::after {
	opacity: 0.7;
	transform: scale(0, 0);
	transition: 0s;
  grid-area: newsletter;
}

.newsletter-signup input[type="email"] {
  width: 50%;
}

.newsletter-signup form div div:nth-child(4) {
  font-size: 0.8rem;
}

@media (max-width: 576px) {
  .hero__contactForm {
    
  }
  .header__title {
    margin: 1rem 1.75rem;
  }
}

@media (max-width: 768px) {
  .hero {
    height: initial;
    justify-content: center;
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }
  .toggle {
    right: 1.75rem;
  }
  nav.LangSwitch {
    margin-right: 3rem;
  }
  .footer {
    grid-template-areas: "newsletter" "social" "footer-menu" "copy";
    grid-template-columns: 1fr;
  }

  .newsletter-signup {
    padding: 1.5rem;
  }
  .newsletter-signup input[type="email"] {
    width: 100%;
  }
  .newsletter-signup form div div:nth-child(5) div:nth-child(2) {
    text-align: center;
  }
}
/* Blog */
.post__header {
  text-align: center;
}
/* References */
.reference {
  display: flex;
  margin: 2em 0;
}
.reference_column:nth-child(odd) {
  margin: 0 2em 0 0;
  min-width: 200px;
  width: 15%;
}
.reference__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
blockquote {
  font-size: 1.5rem;
}
@media (max-width: 768px) {
  .reference {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  .reference_column:nth-child(odd) {
    margin: 2em 0;
  }
}
@media (max-width: 1224px) {
  .post__body {
    margin: 0 10%;
  }
}
/* Fix width of mobile menu */
.menu {
  margin-right: 1rem;
}
.menu__items__item {
  margin: 0 1rem;
}

@media only screen and (max-width: 980px) {
  .menu {
		display: none;
		visibility: hidden;
	}

	.hamburger-menu {
		display: grid;
		visibility: visible;
	}

	.hamburger__items__item {
		margin-right: 1.75rem;
	}
  .toggle {
    right: 1.75rem;
  }
  nav.LangSwitch {
    margin-right: 3rem;
  }
}

/* Container */
@media (min-width:920px) {
  .fr-accordion {
    max-width: 70%;
  }
}


/* Accordion header */
.fr-accordion--is-ready .fr-accordion__header {
	cursor: pointer;
}

/* Accordion panel */
.fr-accordion--is-ready .fr-accordion__panel {
	overflow: hidden;
  border: 2px solid var(--secondary-dark);
  padding: 1rem;
}
.fr-accordion__panel[aria-hidden="true"] {
	visibility: hidden;
	height: 0;
  padding: 0;
}
.fr-accordion__header {
  box-shadow: 0 0.15em 0.25em rgba(0,0,0, 0.25);
  position: relative;

  padding: .5em;
  margin: 0;
}

.fr-accordion__header:after {
 border-left:.5rem solid transparent;
 border-right:.5rem solid transparent;

 content:'';
 position: absolute;
 margin-top: .4em;
 right: 0;
 margin-right: 0.5em;
}

.fr-accordion__header[aria-expanded="true"]::after {

    border-top: 0;
}

.fr-accordion__panel[aria-hidden="false"] {
	visibility: visible;
}

/* table of contents */
.toc {

  box-shadow: 0 0.15em 0.25em rgba(0,0,0, 0.25);
  margin-bottom: 1em;
  padding: 1em;
}
@media (min-width: 768px) {
  .toc {
    max-width: 40%;
  }
}
.toc nav ul li {
  background: none;
  padding: 0;
}
.toc nav ul li a::after {
  content: "\2192";

  padding-left: .5em;
}

.post__body h2 {
  margin-top: -70px;
  padding-top: 70px;
}

.post__body {
  margin: 1.75rem 15% 70px;
  min-height: 80vh;
}
.hero {
  min-height: 80vh;
}

a.single-job {
  display: block;
}

/* large screens */
@media (min-width: 1500px) {
  .hero {
    margin-top: 3rem;
  }
  .hero ul {
    line-height: 3rem;
  }
}
