// --------------------------------

// (START) Global editor code https://codyhouse.co/ds/globals/buttons

// --------------------------------

:root {
  --btn-font-size: 1em;
  --btn-padding-x: var(--space-sm);
  --btn-padding-y: var(--space-xxs);
  --btn-radius: 0.25em;
}

.btn {
  cursor: pointer;
  text-decoration: none;
  line-height: 1.2;
  @include fontSmooth;
  box-shadow: var(--shadow-xs);
  transition: all 0.2s ease;

  &:hover {
    box-shadow: var(--shadow-sm);
  }

  &:focus {
    box-shadow: 0px 0px 0px 2px alpha(var(--color-contrast-higher), 0.15);
    outline: none;
  }

  &:active {
    transform: translateY(2px);
  }
}

// themes
.btn--primary {
  background-color: var(--color-primary);
  color: var(--color-white);

  &:hover {
    background-color: var(--color-primary-dark);
    color: var(--color-white);
  }

  &:focus {
    box-shadow: 0px 0px 0px 2px alpha(var(--color-primary), 0.2);
  }
}

.btn--subtle {
  background-color: var(--color-contrast-lower);
  color: var(--color-contrast-higher);
}

.btn--accent {
  background-color: var(--color-accent);
  color: var(--color-white);

  &:hover {
    background-color: var(--color-accent-dark);
  }

  &:focus {
    box-shadow: 0px 0px 0px 2px alpha(var(--color-accent), 0.2);
  }
}

// feedback
.btn--disabled, .btn[disabled], .btn[readonly] {
  opacity: 0.6;
  cursor: not-allowed;
}

// size
.btn--sm {
  font-size: 0.8em;
}

.btn--md {
  font-size: 1.2em;
}

.btn--lg {
  font-size: 1.4em;
}
// --------------------------------

// (END) Global editor code

// --------------------------------

// Newsletter
.newsletter-signup button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  text-decoration: none;
  font-size: 1.3rem!important;
  padding-top: var(--btn-padding-y, 0.5em)!important;
  padding-bottom: var(--btn-padding-y, 0.5em)!important;
  padding-left: var(--btn-padding-x, 0.75em)!important;
  padding-right: var(--btn-padding-x, 0.75em)!important;
  border-radius: var(--btn-radius, 0.25em)!important;
  background-color: var(--color-primary)!important;
  color: var(--color-white)!important;
  cursor: pointer;
  line-height: 1.2!important;
  @include fontSmooth;
  box-shadow: var(--shadow-xs);
  transition: all 0.2s ease;

  &:hover {
    background-color: var(--color-primary-dark)!important;
    box-shadow: var(--shadow-sm);
  }

  &:focus {
    box-shadow: 0px 0px 0px 2px alpha(var(--color-primary), 0.2)!important;
    outline: none;
  }
  &:active {
    transform: translateY(2px);
  }
}

// Schedule a call
.menu__items a[href="/schedule-call/"], .menu__items a[href="/de/terminvereinbarung/"] {
  border: 2px solid var(--color-accent);
  padding: 0.5em;
}
