// --------------------------------

// (START) Global editor code https://codyhouse.co/ds/globals/colors

// --------------------------------

:root, [data-theme="default"] {
  // main
  @include defineColorHSL(--color-primary-darker, 183, 100%, 7%);
  @include defineColorHSL(--color-primary-dark, 183, 100%, 17%);
  @include defineColorHSL(--color-primary, 183, 100%, 27%);
  @include defineColorHSL(--color-primary-light, 183, 100%, 37%);
  @include defineColorHSL(--color-primary-lighter, 183, 100%, 47%);

  @include defineColorHSL(--color-accent-darker, 13, 96%, 33%);
  @include defineColorHSL(--color-accent-dark, 13, 96%, 43%);
  @include defineColorHSL(--color-accent, 13, 96%, 53%);
  @include defineColorHSL(--color-accent-light, 13, 96%, 63%);
  @include defineColorHSL(--color-accent-lighter, 13, 96%, 73%);

  @include defineColorHSL(--color-black, 240, 8%, 12%);
  @include defineColorHSL(--color-white, 0, 0%, 100%);

  // feedback
  @include defineColorHSL(--color-warning-darker, 46, 100%, 47%);
  @include defineColorHSL(--color-warning-dark, 46, 100%, 50%);
  @include defineColorHSL(--color-warning, 46, 100%, 61%);
  @include defineColorHSL(--color-warning-light, 46, 100%, 71%);
  @include defineColorHSL(--color-warning-lighter, 46, 100%, 80%);

  @include defineColorHSL(--color-success-darker, 94, 48%, 42%);
  @include defineColorHSL(--color-success-dark, 94, 48%, 48%);
  @include defineColorHSL(--color-success, 94, 48%, 56%);
  @include defineColorHSL(--color-success-light, 94, 48%, 65%);
  @include defineColorHSL(--color-success-lighter, 94, 48%, 74%);

  @include defineColorHSL(--color-error-darker, 349, 75%, 36%);
  @include defineColorHSL(--color-error-dark, 349, 75%, 44%);
  @include defineColorHSL(--color-error, 349, 75%, 51%);
  @include defineColorHSL(--color-error-light, 349, 75%, 59%);
  @include defineColorHSL(--color-error-lighter, 349, 75%, 67%);

  // color contrasts
  @include defineColorHSL(--color-bg, 0, 0%, 100%);
  @include defineColorHSL(--color-contrast-lower, 180, 29%, 97%);
  @include defineColorHSL(--color-contrast-low, 184, 26%, 89%);
  @include defineColorHSL(--color-contrast-medium, 184, 28%, 64%);
  @include defineColorHSL(--color-contrast-high, 0, 0%, 11%);
  @include defineColorHSL(--color-contrast-higher, 183, 100%, 27%);
}
// --------------------------------

// (END) Global editor code

// --------------------------------
.hero h2 {
  color: var(--color-contrast-high);
}

.header {
  background-color: var(--color-white);
  box-shadow: 0 1px 5px var(--color-contrast-low);
}
.newsletter-signup {
  box-shadow: 5px 0 10px var(--color-contrast-low);
}

.menu__items__item__link::before {
  background-color: var(--color-accent);
}

input,
textarea {
    border: 2px solid var(--color-contrast-low);
}
pre {
    border: 1px solid var(--color-contrast-low);
}
input:focus,
textarea:focus {
    border: 2px solid var(--color-contrast-medium);
}
.footer__social {
  border-top: 1px solid var(--color-contrast-medium);
}
.footer__social {
  background-color: var(--color-primary);
  border-bottom: 1px solid var(--color-contrast-medium);
}
