// --------------------------------

// (START) Global editor code https://codyhouse.co/ds/globals/typography

// --------------------------------

:root {
  // font family
  --font-primary: FiraSans-Regular, sans-serif;
  --font-secondary: Vin-Sans-Pro-Light, sans-serif;
  --font-tertiary: FiraSans-Light, sans-serif;

  // font size
  --text-base-size: 1em; // body font-size
  --text-scale-ratio: 1.2; // multiplier used to generate the type scale values 👇

  // line-height
  --body-line-height: 1.4;
  --heading-line-height: 1.4;

  // capital letters - used in combo with the lhCrop mixin
  --font-primary-capital-letter: 1;

  // unit - don't modify unless you want to change the typography unit (e.g., from Em to Rem units)
  --text-unit: 1em; // if not Em units → --text-unit: var(--text-base-size);
}

:root, * {
  // type scale
  --text-xs: calc((var(--text-unit) / var(--text-scale-ratio)) / var(--text-scale-ratio));
  --text-sm: calc(var(--text-xs) * var(--text-scale-ratio));
  --text-md: calc(var(--text-sm) * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-lg: calc(var(--text-md) * var(--text-scale-ratio));
  --text-xl: calc(var(--text-lg) * var(--text-scale-ratio));
  --text-xxl: calc(var(--text-xl) * var(--text-scale-ratio));
  --text-xxxl: calc(var(--text-xxl) * var(--text-scale-ratio));
  --text-xxxxl: calc(var(--text-xxxl) * var(--text-scale-ratio));
}

@supports(--css: variables) {
  @include breakpoint(md) {
    :root {
      --text-base-size: 1.25em;
      --text-scale-ratio: 1.25;
    }
  }
}

h1, h2, h3, h4 {
  font-weight: 500;
}

// --------------------------------

// (END) Global editor code

// --------------------------------

h1, h2, h3, h4 {
  font-family: var(--font-secondary);
}
h2#your-holistic-and-sustainable-cloud-solution-for-working-collaboratively {
  font-family: var(--font-primary);
}
p {
  font-family: var(--font-tertiary);
}
.post__body > ul {
  font-family: var(--font-tertiary);
}

// link style
a, .link {
  color: var(--color-accent);
  &:hover {
    color: var(--color-accent-lighter);
  }
}

mark {
  background-color: alpha(var(--color-accent), 0.2);
  color: inherit;
}

.text-component {
  --line-height-multiplier: 1;
  --text-vspace-multiplier: 1;

  blockquote {
    padding-left: 1em;
    border-left: 4px solid var(--color-contrast-low);
  }

  hr {
    background: var(--color-contrast-low);
    height: 1px;
  }

  figcaption {
    font-size: var(--text-sm);
    color: var(--color-contrast-medium);
  }
}

.article { // e.g., blog posts
  --body-line-height: 1.58; // set body line-height
  --text-vspace-multiplier: 1.2; // increase vertical spacing
}


.menu__items__item__link, .footer-menu a, .card__header__title a {
  text-decoration: none;
}

@media (max-width: 1200px) {
  a.menu__items__item__link {
    font-size: 0.8em;
  }
}
