// --------------------------------

// How to add custom utility classes

// --------------------------------

// 👇 your custom utility class
// .my-util-class {
//   property: value;
// }

// 👇 (optional) create responsive variations - edit only [my-util-class, property, value]
// @each $breakpoint, $value in $breakpoints {
//   @include breakpoint(#{$breakpoint}) {
//     .my-util-class\@#{$breakpoint} {
//       property: value;
//     }
//   }
// }

.grid {
  flex-wrap: nowrap;
}

#sidebar {
  top: var(--space-xxxl);
}
