<form name="contact" action="https://usebasin.com/f/0f75d89e8260" method="POST" class="contact__form" id="contactForm">
        <!-- Name -->
        <div class="contact__field contact__field--name">
            <label for="{{ $.Site.Params.form.inputNameName }}">{{ $.Site.Params.form.inputNameLabel }}</label>
            <input type="text" name="{{ $.Site.Params.form.inputNameName }}" placeholder="{{ $.Site.Params.form.inputNamePlaceholder }}"
                class="contact__form__input contact__form__name" id="{{ $.Site.Params.form.inputNameName }}"
                aria-labelledby="{{ $.Site.Params.form.inputNameName }}" >
        </div>

        <!-- Email -->
        <div class="contact__field contact__field--email">
            <label for="{{ $.Site.Params.form.inputEmailName }}">{{ $.Site.Params.form.inputEmailLabel }}</label>
            <input type="email" name="{{ $.Site.Params.form.inputEmailName }}" placeholder="{{ $.Site.Params.form.inputEmailPlaceholder }}"
                class="contact__form__input contact__form__email" id="{{ $.Site.Params.form.inputEmailName }}"
                aria-labelledby="{{ $.Site.Params.form.InputEmailName }}" required>
        </div>

        <!-- Company (optional) -->
        <div class="contact__field contact__field--company">
            <label for="{{ $.Site.Params.form.inputCompanyName }}">{{ $.Site.Params.form.inputCompanyLabel }}</label>
            <input type="text" name="{{ $.Site.Params.form.inputCompanyName }}" placeholder="{{ $.Site.Params.form.inputCompanyPlaceholder }}"
                class="contact__form__input contact__form__company" id="{{ $.Site.Params.form.inputCompanyName }}"
                aria-labelledby="{{ $.Site.Params.form.InputCompanyName }}" >
        </div>

        <!-- Position (optional) -->
        <div class="contact__field contact__field--position">
            <label for="{{ $.Site.Params.form.inputPositionName }}">{{ $.Site.Params.form.inputPositionLabel }}</label>
            <input type="text" name="{{ $.Site.Params.form.inputPositionName }}" placeholder="{{ $.Site.Params.form.inputPositionPlaceholder }}"
                class="contact__form__input contact__form__position" id="{{ $.Site.Params.form.inputPositionName }}"
                aria-labelledby="{{ $.Site.Params.form.InputPositionName }}" >
        </div>

        <!-- Message -->
        <div class="contact__field contact__field--msg">
            <label for="{{ $.Site.Params.form.inputMsgName }}">{{ $.Site.Params.form.inputMsgLabel }}</label>
            <textarea name="{{ $.Site.Params.form.inputMsgName }}" id="{{ $.Site.Params.form.inputMsgName }}" form="contactForm"
                maxlength="{{ $.Site.Params.form.inputMsgLength }}" id="{{ $.Site.Params.form.inputMsgName }}"
                arial-labelledby="{{ $.Site.Params.form.InputMsgName }}" required></textarea>
        </div>

        <!-- Needs -->
        <div class="contact__field contact__field--needs">
          <h3 class="contact__form__needs-cta">{{ $.Site.Params.form.inputNeedsCta }}</h3>
          <div class="contact__form__checkbox-wrapper">
            <input type="checkbox" name="{{ $.Site.Params.form.inputNeedsOption1Name }}" value="{{ $.Site.Params.form.inputNeedsOption1Name }}"
              class="contact__form__input contact__form__needs" id="{{ $.Site.Params.form.inputNeedsOption1Name }}"
              aria-labelledby="{{ $.Site.Params.form.InputNeedsOption1Name }}" >
            <label for="{{ $.Site.Params.form.inputNeedsOption1Name }}">{{ $.Site.Params.form.inputNeedsOption1Label }}</label>
          </div>
          <div class="contact__form__checkbox-wrapper">
            <input type="checkbox" name="{{ $.Site.Params.form.inputNeedsOption2Name }}" value="{{ $.Site.Params.form.inputNeedsOption2Name }}"
              class="contact__form__input contact__form__needs" id="{{ $.Site.Params.form.inputNeedsOption2Name }}"
              aria-labelledby="{{ $.Site.Params.form.InputNeedsOption2Name }}" >
            <label for="{{ $.Site.Params.form.inputNeedsOption2Name }}">{{ $.Site.Params.form.inputNeedsOption2Label }}</label>
          </div>
          <div class="contact__form__checkbox-wrapper">
            <input type="checkbox" name="{{ $.Site.Params.form.inputNeedsOption3Name }}" value="{{ $.Site.Params.form.inputNeedsOption3Name }}"
              class="contact__form__input contact__form__needs" id="{{ $.Site.Params.form.inputNeedsOption3Name }}"
              aria-labelledby="{{ $.Site.Params.form.InputNeedsOption3Name }}" >
            <label for="{{ $.Site.Params.form.inputNeedsOption3Name }}">{{ $.Site.Params.form.inputNeedsOption3Label }}</label>
          </div>
          <div class="contact__form__checkbox-wrapper">
            <input type="checkbox" name="{{ $.Site.Params.form.inputNeedsOption4Name }}" value="{{ $.Site.Params.form.inputNeedsOption4Name }}"
              class="contact__form__input contact__form__needs" id="{{ $.Site.Params.form.inputNeedsOption4Name }}"
              aria-labelledby="{{ $.Site.Params.form.InputNeedsOption4Name }}" >
            <label for="{{ $.Site.Params.form.inputNeedsOption4Name }}">{{ $.Site.Params.form.inputNeedsOption4Label }}</label>
          </div>
          <div class="contact__form__checkbox-wrapper">
            <input type="checkbox" name="{{ $.Site.Params.form.inputNeedsOption5Name }}" value="{{ $.Site.Params.form.inputNeedsOption5Name }}"
              class="contact__form__input contact__form__needs" id="{{ $.Site.Params.form.inputNeedsOption5Name }}"
              aria-labelledby="{{ $.Site.Params.form.InputNeedsOption5Name }}" >
            <label for="{{ $.Site.Params.form.inputNeedsOption5Name }}">{{ $.Site.Params.form.inputNeedsOption5Label }}</label>
          </div>
        </div>
        <!-- Privacy -->
        <div class="contact__field contact__field--privacy">
          <div class="contact__form__checkbox-wrapper">
          <input type="checkbox" name="{{ $.Site.Params.form.inputPrivacyName }}" value="{{ $.Site.Params.form.inputPrivacyName }}"
            class="contact__form__input contact__form__privacy" id="{{ $.Site.Params.form.inputPrivacyName }}"
            aria-labelledby="{{ $.Site.Params.form.inputPrivacyName }}" required>
          <label for="{{ $.Site.Params.form.inputPrivacyName }}">{{ $.Site.Params.form.inputPrivacyLabel | markdownify }}</label>
          </div>
        </div>
        <!-- Submit -->
        <div class="contact__field contact__field--submit">
            <button type="submit" class="btn btn--primary" onclick="cleanForm" aria-label="{{ $.Site.Params.form.inputSubmitValue }}">
                {{ $.Site.Params.form.inputSubmitValue }}
            </button>
        </div>

    </form>
