<footer class="footer">
    {{ if $.Site.Params.social }}
    {{ $items := $.Site.Params.social }}
    {{ $len := (len $items) }}

    {{ if gt $len 0 }}
    <div class="footer__social">
        {{ range $k, $v := $items }}
        {{ if $v}}
        <a href="{{ $v }}" class="footer__social__link" alt="{{ $k }}" target="_blank" aria-label="{{ $v }}" rel="noopener">
            <span>
                <i class="fab fa-{{ $k }}"></i>
            </span>
        </a>
        {{ end }}
        {{ end }}
    </div>
    {{ end }}
    {{ end }}

    <div class="footer-menu">
      {{ partial "footer-menu.html" . }}
    </div>

    <div class="copy">
        <p>© {{ now.Format "2006" }} - {{ $.Site.Params.copy.copy }}</p>
    </div>

    {{ partial "scripts.html" . }}
    {{ partial "matomo.html" . }}
</footer>
