<nav class="footer-menu" aria-label="footer menu">
    <ul class="footer-menu__items" aria-label="footer menu" role="menubar">
        {{ $current := . }}
        {{ range .Site.Menus.footer }}
        <li class="footer-menu__items__item" aria-label="{{ .Name }}" role="menuitem">
            <a href="{{ .URL }}" class="footer-menu__items__item__link {{ if $current.IsMenuCurrent "footer" . }}active{{ end }}"
                alt="{{ .Name }}">
                {{ .Name }}
            </a>
        </li>
        {{ end }}
        <li class="footer-menu__items__item" aria-label="google-reviews" role="menuitem">
          <a href="https://g.page/r/CVrji6Fu82IEEAI/review" class="footer-menu__items__item__link" target="_blank" rel="noopener noreferrer">{{ i18n "reviews" }}</a>
        </li>
    </ul>
</nav>
