<nav class="hamburger-menu" aria-label="mobile-menu">
    <div class="toggle">
        <input type="checkbox" class="hamburger__toggle" id="hamburgerToggle" name="hamburger toggle" aria-label="Hamburguer menu">
        <label class="hamburger__toggle__icon" for="hamburgerToggle">
            <i class="fas fa-bars"></i>
        </label>

        <ul class="hamburger__items" aria-label="mobile-menu">
          <li class="hamburger__items__item" aria-label="home page">
              <a href="{{ "/" | relLangURL }}" class="hamburger__items__item__link" alt="home page" role="menuitem">
                {{ i18n "home" }}
              </a>
          </li>
            {{ range .Site.Menus.main }}
            <li class="hamburger__items__item" aria-label="{{ .Name }}">
                <a href="{{ .URL }}" class="hamburger__items__item__link" alt="{{ .Name }}" role="menuitem">
                    {{ .Name }}
                </a>
            </li>
            {{ end }}
        </ul>
    </div>
</nav>
