<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="robots" content="index, follow" />
	<meta name="googlebot" content="index, follow, noarchive" />
	<title>{{ .Title }}</title>
	<link rel="icon" href="{{ $.Site.BaseURL }}{{ $.Site.Params.favicon }}" />
	<meta name="description" content="{{ .Description }}" />

	{{ if .IsTranslated }}
	{{ range .AllTranslations }}
	<link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" title="{{ .Language.LanguageName }}">
	{{ end }}
	{{ end }}

	{{ hugo.Generator }}

	{{ if .Site.GoogleAnalytics }}
	{{ template "_internal/google_analytics.html" . }}
	{{ end }}

	<meta name="twitter:image" content="https://lacewing.tech/images/default-twitter-card-new.jpg"/>
	{{ template "_internal/opengraph.html" . }}
	{{ if (not (isset .Params "images")) | or (eq .Params.images nil) }}
	<meta property="og:image" content="https://lacewing.tech/images/default-open-graph-logo.jpg" />
	{{ end }}
	<meta property="og:locale" content="{{ .Site.Language.Lang }}" />
	{{ if .IsTranslated }}
	{{ range .Translations }}
	<meta property="og:locale:alternate" content="{{ .Language.Lang }}" />
	{{ end }}
	{{ end }}

	<!-- CSS -->
	{{ partial "styles.html" . }}
	<!-- codyhouse progressive enhancement -->
	<script>document.getElementsByTagName("html")[0].className += " js";</script>
</head>
