<main class="hero" {{ if $.Params.images }}
    style="background-image: url('{{ $.Site.BaseURL }}images/{{ print (index $.Params.images 0) }}');" {{ end }}>
    <div class="hero__caption" {{ if $.Site.Params.hero.textColor }} style="color: {{ $.Site.Params.hero.textColor }};"
        {{ end }}>
        {{ .Content }}
        {{ if $.Site.Params.cta.show }}
        {{ partial "cta-btn.html" . }}
        {{ end }}
        {{ $items := (where $.Site.RegularPages "Type" "references") }}

        {{ range first 1 $items }}
        {{ partial "reference.html" . }}
        {{ end }}
    </div>
    <div class="hero__contactForm">
      <h2>LaceWing Tech is closing</h2>
      <p>Read our full statement <a href="/blog/closing/">here</a>.</p>
    </div>
</main>
