<article class="post">
    <header class="post__header">
        <h1 class="post__title">{{ .Params.headline }}</h1>
        {{ if .Description }}
        <p class="post__subtitle">{{ .Params.subtitle }}</p>
        {{ end }}
    </header>
    <main class="post__body">
{{ .Content }}
{{ $items := (where $.Site.RegularPages "Type" "jobs") }}
{{ $len := (len $items) }}

{{ range $i, $e := $items }}
{{ partial "job.html" . }}

{{ if ne (add $i 1) $len }}

{{ if $.Site.Params.separator.show }}
{{ partial "separator.html" . }}
{{ end  }}

{{ end }}
{{ end}}
</main>
</article>
