<section class="reference">
    <div class="reference_column">
    <a href="{{ $.Params.externalLink }}" target="_blank"><img src="{{ $.Params.logo }}" alt="logo"></a>
    </div>
    <div class="reference_column">
    <div class="reference__content">
      <blockquote>
        {{ .Content }}
      </blockquote>
      <p class="reference__title">{{ .Title }}</p>
    </div>
    </div>
</section>
