{{ define "main" }}
<main class="contact post__body">
    <h1 class="contact__title">{{ .Params.headline }}</h1>
    <p class="contact__content">{{ .Params.subtitle }}</p>
    <div class="contact__additional-content">
    {{ .Content }}
    
    </div>
</main>
{{ end }}
