<div class="fr-accordion js-fr-accordion">
	<h3 id="accordion-header-{{ .Get "number" }}" class="fr-accordion__header js-fr-accordion__header">{{ .Get "title" }}</h3>
	<div id="accordion-panel-{{ .Get "number" }}" class="fr-accordion__panel js-fr-accordion__panel">
		{{ .Inner }}
	</div>
</div>
